body {
    text-align: center;
    font-size: 1.5em;
    cursor: default;
}
#infoBox {
    background-color: black;
    color: aliceblue;
}
#textBox {
    background-color: aliceblue;
    overflow: auto;
}
.actionButton {
    background-color: #43B3AE;
}
button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }
  .dialogueButton{
    display: block;
  }
.character {
    background-color: #be3a8d;
    cursor: pointer;
}
.consumable {
    background-color: #139a04;
    cursor: pointer;
}
.enemy {
    background-color: #b9050e;
    cursor: pointer;
}
.inspect {
    cursor: pointer;
    background-color: #ff4f00;
}
.interact {
    background-color: #43B3AE;
    cursor: pointer;
}
.item {
    background-color: #ff9500;
    cursor: pointer;
}
.snippet{
    text-align: left;
    display: inline-block;
    background-color: grey;
}
#attackButton {
    background-color: #b9050e;
}
#inventoryButton {
    background-color: #b9050e;
}
#magicButton {
    background-color: #ff9500;
}
#equipButton {
    background-color: #bc5505;
}
#skillButton {
    background-color: #ff4f00;
}
#statusButton {
    background-color: #139a04;
}
#journalButton {
    background-color: #03746b;
}
#inspectButton {
    background-color: #ff4f00;
}
#interactButton {
    background-color: #43B3AE;
}
#pickUpButton {
    background-color: #ff9500;
}
#talkButton {
    background-color: #be3a8d;
}